<main>
    <dynamic-header aria-label="Dynamic Header"></dynamic-header>
    <hr class="main-hr" role="separator" aria-hidden="true">
    <section class="account" role="region" aria-label="Account Information">
        <account-menu aria-label="Account Menu"></account-menu>
        <section class="content" role="main">
            <h2>Transactions History</h2>
            <div class="recent_transactions">
                <mat-form-field>
                    <mat-label>Month and Year</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date">
                    <mat-hint>Pick a month to view</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
                        panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
                <div class="entry-list-container" role="list">
                    <ul class="entry-list" aria-label="Transaction List">
                        <li class="entry" role="listitem" *ngFor = "let data of userData |async">
                            <div class="entry-details">
                                <div class="entry-name">{{data.Rec_ID}}</div>
                                <div class="entry-date">{{data.Description}}</div>
                                <div class="entry-money">${{data.Amount}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
    </section>
    
    <df-messenger
    class="test"
    intent="WELCOME"
    chat-title="AEAI"
    chat-icon="https:&#x2F;&#x2F;cdn-icons-png.freepik.com&#x2F;256&#x2F;13481&#x2F;13481626.png?semt=ais_hybrid"
    agent-id="f6620496-6d54-4e83-bf0b-855345675e33"
    language-code="en"
  ></df-messenger>
    <static-footer-v2 aria-label="Static Footer"></static-footer-v2>
</main>