<main>
    <static-header></static-header>

    <h1 id="color-content-heading-1">Colors — Importance in Design</h1>
    <h2 id="color-content-subheading-1">A. Colors Picked and why</h2>

    <section class="web-color-content_1" aria-labelledby="color-content-heading-1">
        <p>Green is considered a good color due to its association with positive meanings such as nature, life, and
            well-being, as well as its proven ability to generate therapeutic and positive effects, fostering recovery
            and enhancing subjective well-being.</p>
        <img src="/assets/web_color_3.png" alt="Supporting Image 1"
            aria-describedby="color-content-image-description-1">
        <p>palett.es provides several indicators that will help you choose a color palette that is accessible to the
            greatest number of users following the WAGC2.0 guidelines in the contrast and color section.</p>
    </section>
    <h2 id="color-content-subheading-2">B.Contrast matrix</h2>
    <section class="web-color-content_2" aria-labelledby="color-content-heading-2">

        <img src="/assets/web_color_2.png" alt="Supporting Image 2"
            aria-describedby="color-content-image-description-2">
        <p>One of the main tools of palett.es is the contrast matrix. It visually shows us the levels of contrast
            between the colors that make up the palette. The lowest contrast level is 1:1 and the highest possible level
            is 21:1. The higher the contrast, the fewer problems viewing content/texts users will have. Color blind
            safe? If we read "YES" in this position, it indicates that this color combination is safe for the main types
            of color blindness. AAA/AA tells us whether this text/background color combination has enough contrast to
            meet the AAA or AA accessibility level at those sizes. Lastly the contrast index in numerical format.</p>
    </section>
    <h2 id="color-content-subheading-3">C. Simulation of types of color blindness.</h2>

    <section class="web-color-content_3" aria-labelledby="color-content-heading-3">
        <p>This quadrant provides a simulation of how users with different types of color blindness see the current
            palette and what the contrast levels are for the different combinations.</p>
        <img src="/assets/web_color_1.png" alt="Supporting Image 3"
            aria-describedby="color-content-image-description-3">
    </section>

    <static-footer></static-footer>
</main>