
.menu {
    margin: 5vw;
    width: 25vw;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin: 2vw 0;
}

.menu a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 2vw;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    line-height: 2vw;
    font-style: normal;
}

.menu img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.active {
    font-weight: 800 !important;
    text-decoration: underline !important;
}
