<section class="menu">
    <ul>
        <li>
            <a routerLink="/account" routerLinkActive="active"> <img src="/assets/menu_account.png"
                    alt=" logo">Account</a>
        </li>
        <li>
            <a routerLink="/history" routerLinkActive="active"> <img src="/assets/menu_history.png"
                    alt=" logo">Transfer History</a>
        </li>
        <li>
            <a routerLink="/transfer" routerLinkActive="active"><img src="/assets/menu_transfer.png"
                    alt=" logo"> Money Transfer</a>
        </li>
        <li>
            <a routerLink="/bill-payment" routerLinkActive="active"><img src="/assets/menu_bill.png"
                    alt=" logo"> Bill Payment</a>
        </li>
        <li>
            <a routerLink="/aeai-v2" routerLinkActive="active"> <img src="/assets/menu_aeai.png"
                    alt=" logo">AEAI</a>
        </li>
    </ul>
</section>