<main>
    <footer>
      <section>
        <img src="/assets/aequitas_logo.svg" alt="logo">
        <p class="bold">© Aequitas Europe SA 2024</p>
        <p>Aequitas Europe SA is a company incorporated in Greece with registered number 33590135913. Our registered office is at South Street 100, 3rd floor, 1050 Thessaloniki, Greece. Wise is a payment institution authorized by the National Bank of Greece.</p>
        <p class="italic">All investment services are provided by the respective Aequitas Assets entity in your location.</p>
      </section>
    </footer>
</main>