<main>
    <static-header></static-header>
    <section class="web-font-content" aria-labelledby="font-content-heading-1">
        <h1 id="font-content-heading-1">Fonts used and why it’s important</h1>
        <p>Font pairing in design refers to the art of combining different fonts to capture attention, guide the
            viewer's gaze, or establish a brand's visual identity.<br><br>A successful font pairing involves finding a
            balance between similarity and contrast. Fonts that are too similar create visual conflict, while those with
            no apparent relationship may evoke a sense of discord. Good font combinations often share certain
            similarities but differ in specific ways, such as weight, obliqueness, or other typographic
            measures.<br><br>To simplify the process and aid in font selection, a graphical map can be created, where
            the Y axis represents font weight, and the X axis represents obliqueness. This map can guide the selection
            process by showcasing fonts with contrasting features, aiding in the creation of aesthetically pleasing
            pairings.</p>
    </section>
    <section class="web-acc-image">
        <div class="sup-image">
            <img src="/assets/web_font_1.png" alt="Supporting Image 1" aria-describedby="web-font-image-description-1">
        </div>
        <div class="sup-image">
            <img src="/assets/web_font_2.png" alt="Supporting Image 2" aria-describedby="web-font-image-description-2">
        </div>
    </section>
    <section class="web-font-content" aria-labelledby="font-content-heading-2">
        <p>Expanding on this concept, additional dimensions such as a Z-axis for serifs vs. sans-serifs can be added,
            leading to the creation of a multi-dimensional map. By systematically analyzing fonts based on their various
            features, it becomes possible to identify those that share similarities while contrasting in key
            aspects.<br><br>For instance, fonts with similar obliqueness and serifs but differing weights can form
            unique and harmonious pairings. Furthermore, the use of deep neural networks and machine learning techniques
            can automate the feature extraction process, enabling the discovery of font relationships and guiding the
            font pairing process more efficiently.<br><br>This approach eliminates the need to manually specify
            features, as the deep learning model autonomously discovers and utilizes these features, providing a
            comprehensive and sophisticated map for font pairing.<br><br>Additional details on the implementation of
            deep learning in this domain can be found on the project's Github page.</p>
    </section>
    <h2>What pairing is used throughout this project?</h2>
    <section class="web-font-content" aria-labelledby="font-content-heading-3">
        <div class="font_image">
            <img src="/assets/web_font_3.png" alt="Supporting Image 3" aria-describedby="web-font-image-description-3">
        </div>
        <div class="font_exp">
            <p>Merriweather is used for headings and other important tags.<br><br>Josefin Sans is used for secondary
                headings and paragraphs.<br><br>Prompt is used in footers and other trivial tags.</p>
        </div>
    </section>
    <static-footer></static-footer>
</main>