<main>
    <dynamic-header></dynamic-header>
    <hr class="main-hr">
    <section class="account">
        <account-menu></account-menu>
        <section class="content" aria-label="Profile Content">
            <h1>Hello, <span>John Doe</span></h1>
            <div class="edit" role="group" aria-labelledby="personalInfoHeading editLink">
                <h2 id="personalInfoHeading">Personal information</h2>
                <h2 id="editLink"><a routerLink="/profile-edit" aria-label="Edit Personal Information">Edit</a></h2>
            </div>
            <div class="table" role="region" aria-labelledby="personalInfoHeading">
                <table aria-describedby="personalInfo">
                    <tr>
                        <th scope="row">Full Name:</th>
                        <td id="full_name">John Doe</td>
                        <th scope="row">Address:</th>
                        <td id="address">20 Front Street, NY</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone Number:</th>
                        <td id="phone_number">+30 699 699 6999</td>
                        <th scope="row">Email:</th>
                        <td id="email">johndoe&#64;mail.com</td>
                    </tr>
                </table>
            </div>
            <h2 id="accountInfoHeading">Account information</h2>
            <div class="table" role="region" aria-labelledby="accountInfoHeading">
                <table aria-describedby="accountInfo">
                    <tr>
                        <th scope="row">Account Id:</th>
                        <td id="acc_id">1234567890</td>
                        <th scope="row">Open Date:</th>
                        <td id="acc_date">20/04/2020</td>
                    </tr>
                    <tr>
                        <th scope="row">Account Type:</th>
                        <td id="acc_type">Checkings</td>
                        <th scope="row">Current Balance:</th>
                        <td id="acc_balance">420.69 $</td>
                    </tr>
                </table>
            </div>
        </section>
    </section>
    <static-footer-v2></static-footer-v2>
</main>
