<main>
    <static-header-v2></static-header-v2>
    <section>
       <h1>Welcome back.</h1>
       <form id="login-form" aria-label="Login Form">
          <label for="username-input" class="sr-only">Username</label>
          <input id="username-input" class="input" placeholder="Username" type="text" aria-label="Username" required><br>
          <label for="password-input" class="sr-only">Password</label>
          <input id="password-input" class="input" placeholder="Password" type="password" aria-label="Password" required><br>
          <button type="submit" class="button-dark">Log in</button>
       </form>
       <h2>Click <a routerLink="/digital-s">here</a> for the alternative login form.</h2>
    </section>
    <static-footer-v2></static-footer-v2>
 </main>
 