<main>
   <static-header-v2></static-header-v2>
   <section>
      <h1>Welcome back.</h1>
      <form id="login-form" aria-label="Login Form" #f="ngForm" (ngSubmit)="simpleloginform(f)">
         <mat-form-field appearance="fill">
         <mat-label>Username</mat-label>
         <input matInput  id="username-input" class="input" placeholder="Username" name="username" 
         type="text" aria-label="Username" ngModel required>
       </mat-form-field>
       <mat-form-field>
         <mat-label>Password</mat-label>
         <input matInput [type]="hide ? 'password' : 'text'" id="password-input" class="input" placeholder="Password" name="password" 
          aria-label="Password" ngModel required>
         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
           <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
       </mat-form-field>
       <button mat-button type="submit" class="button-dark" [disabled]="!f.valid">Log In</button></form>  
      <h2>Click <a routerLink="/digital-s">here</a> for the alternative login form.</h2>
   </section>
   <static-footer-v2></static-footer-v2>
</main>
