<main>
    <dynamic-header role="banner"></dynamic-header>
    <hr class="main-hr" role="separator" aria-hidden="true">
    <section class="account" role="main">
       <account-menu role="navigation"></account-menu>
        <section class="content" role="region" aria-label="Account Information">
            <div class="balance">
                <h2>Current Balance</h2>
                <p role="status">{{ balance}} $</p>
            </div>
            <hr role="separator" aria-hidden="true">
            <div class="recent_transactions">
                <h2>Recent Transactions</h2>
                <ul class="entry-list" aria-label="Transaction List">
                    <li class="entry" role="listitem" *ngFor = "let data of userData |async">
                        <div class="entry-details">
                            <div class="entry-name">{{data.Rec_ID}}</div>
                            <div class="entry-date">{{data.Description}}</div>
                            <div class="entry-money">${{data.Amount}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <static-footer-v2 role="contentinfo"></static-footer-v2>
</main>
