<main>
    <dynamic-header></dynamic-header>
    <hr class="main-hr" aria-hidden="true">
    <section class="account">
        <account-menu></account-menu>
        <section class="content">
            <div class="header" role="banner">
                <h2>Personal Information Edit</h2>
                <div routerLink="/profile" class="cancel" role="button" aria-label="Cancel and return to profile">
                    <h2>Cancel</h2>
                    <img class="exit" src="/assets/exit_icon.png" alt="Exit icon">
                </div>
            </div>
            <form class="profile-edit-form">
                <div class="input-field">
                    <h2>Full Name</h2>
                    <mat-form-field class="input-full-width">
                        <mat-label>Full Name</mat-label>
                        <input type="text" matInput [formControl]="reqFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. BR132345" aria-describedby="fullnameHelp fullnameError">
                        <span id="fullnameHelp" class="visually-hidden">Enter your full name.</span>
                        @if (reqFormControl.hasError('required')) {
                        <mat-error id="fullnameError">Full Name is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <h2>Address</h2>
                    <mat-form-field class="input-full-width">
                        <mat-label>Address</mat-label>
                        <input type="text" matInput [formControl]="reqFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. BR132345" aria-describedby="addressHelp addressError">
                        <span id="AddressHelp" class="visually-hidden">Enter your address.</span>
                        @if (reqFormControl.hasError('required')) {
                        <mat-error id="addressError">Address is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="input-field">

                    <h2>Phone Number</h2>
                    <mat-form-field class="input-full-width">
                        <mat-label>Telephone</mat-label>
                        <span matTextPrefix>+30 &nbsp;</span>
                        <input type="tel" matInput matInput [formControl]="reqFormControl"
                            aria-describedby="phoneHelp phoneError" [errorStateMatcher]="matcher"
                            placeholder="555-555-1234">
                        @if (reqFormControl.hasError('required')) {
                        <mat-error id="addressError">Phone number is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="input-field">
                    <h2>Email</h2>
                    <mat-form-field class="input-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com">
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
                <button class="button-dark" type="submit">Update</button>
            </form>

        </section>
    </section>
    <static-footer-v2></static-footer-v2>
</main>