<main>
    <dynamic-header></dynamic-header>
    <hr class="main-hr" aria-hidden="true">
    <section class="account">
      <account-menu></account-menu>
      <section class="content">
        <div class="header" role="banner">
          <h2>Personal Information Edit</h2>
          <div routerLink="/profile" class="cancel" role="button" aria-label="Cancel and return to profile">
            <h2>Cancel</h2>
            <img class="exit" src="/assets/exit_icon.png" alt="Exit icon">
          </div>
        </div>
        <form class="profile-edit-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="input-field">
            <h2>Full Name</h2>
            <mat-form-field class="input-full-width">
              <input type="text" matInput formControlName="fullName" placeholder="Full Name">
              <mat-error *ngIf="profileForm.get('fullName')?.invalid && profileForm.get('fullName')?.touched">
                Full Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-field">
            <h2>Address</h2>
            <mat-form-field class="input-full-width">
              <input type="text" matInput formControlName="address" placeholder="Address">
              <mat-error *ngIf="profileForm.get('address')?.invalid && profileForm.get('address')?.touched">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-field">
            <h2>Phone Number</h2>
            <mat-form-field class="input-full-width">
              <input type="tel" matInput formControlName="phoneNumber" placeholder="Phone Number">
              <mat-error *ngIf="profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched">
                Phone Number is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-field">
            <h2>Email</h2>
            <mat-form-field class="input-full-width">
              <input type="email" matInput formControlName="email" placeholder="Email">
              <mat-error *ngIf="profileForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="profileForm.get('email')?.hasError('email') && !profileForm.get('email')?.hasError('required')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
          <button class="button-dark" type="submit">Update</button>
        </form>
      </section>
    </section>
    
    <df-messenger
    class="test"
    intent="WELCOME"
    chat-title="AEAI"
    chat-icon="https:&#x2F;&#x2F;cdn-icons-png.freepik.com&#x2F;256&#x2F;13481&#x2F;13481626.png?semt=ais_hybrid"
    agent-id="f6620496-6d54-4e83-bf0b-855345675e33"
    language-code="en"
  ></df-messenger>
    <static-footer-v2></static-footer-v2>
  </main>
  