<main>
    <static-header></static-header>
    <section class="slogan">
        <h1>BRIDGING DIVIDES,<br>
            BUILDING EQUALITY</h1>
        <h2> Through our commitment to bridging divides, we aim to build a more equitable society where everyone has the opportunity to thrive.</h2>
        <button class="button-dark" >Go to your account</button>
        <button class="button-dark">Chat with AEAI</button>
    </section>
    <section class="web-acc">
        <div class="content">
            <h2>Web Accessibility</h2>
            <p>There are several studies that estimate that 1 in 4 users (25%) have some type of visual disability . Approximately 1 in 12 men and 1 in 200 women have problems with color blindness or color perception to varying degrees.

                <br><br>The W3C has several initiatives aimed at raising awareness and encouraging the consideration of these visually impaired users when developing any web application or service ( Web Accessibility Initiative, WAI ).</p>
        
                <button class="button-light" routerLink="/web-acc">Read More</button>
            </div>
        <div class="sup-image">
            <img src="/assets/landingimage_1.jpeg" alt="supporting image">
        </div>
    </section>
    <section class="font-acc">
        <div class="content">
            <h2>Fonts used and why it’s important </h2>
            <p>Font pairing in design is a complex but essential aspect of creating visual appeal and conveying brand identity. Good font pairing involves selecting fonts that are not too similar, yet contrast in specific ways. Contrast is crucial in font selection, similar to color and position in design.</p>
            <button class="button-light" routerLink="/font-acc">Read More</button>

        </div>
        <div class="sup-image">
            <img src="/assets/landingimage_2.jpg" alt="supporting image">
        </div>
    </section>
    <section class="colors-acc">
        <div class="content">
            <h2>Colors <br>Colors<br> Colors</h2>
            <p>Green is considered a good color due to its association with positive meanings such as nature, life, and well-being, as well as its proven ability to generate therapeutic and positive effects, fostering recovery and enhancing subjective well-being.



















                palett.es provides several indicators that will help you choose a color palette that is accessible to the greatest number of users following the WAGC2.0 guidelines in the contrast and color section.</p>
            <button class="button-light" routerLink="/colors-acc">Read More</button>
        </div>
        <div class="sup-image">
            <img src="/assets/landingimage_1.jpeg" alt="supporting image">
        </div>
    </section>

<static-footer></static-footer>
</main>