<main>
    <header><img src="/assets/Group 1.png" alt="logo"></header>
    <body>
        <section class="web-acc-content">
            <h1>Web Accessibility </h1>
            <p>There are several studies that estimate that 1 in 4 users (25%) have some type of visual disability . Approximately 1 in 12 men and 1 in 200 women have problems with color blindness or color perception to varying degrees.

                The W3C has several initiatives aimed at raising awareness and encouraging the consideration of these visually impaired users when developing any web application or service ( Web Accessibility Initiative, WAI ). In some cases, public organizations or institutions require that these levels of accessibility be taken into account when carrying out work for them.
                
                Making an accessible design in the visual section does not require additional work if we take it into account from the beginning of development and review the recommendations before starting a project.
                
                </p>
        </section>
        <section class="web-acc-image">
            <div class="sup-image">
                <img src="/assets/landingimage_1.jpeg" alt="supporting image">
            </div>
        </section>
        <section class="web-acc-content">
            <h1>Thesis and Aim</h1>
            <p>With the advent of online banking, the banking sector has been revolutionized fundamentally as the platform has provided convenience and efficiency to a larger user base. However, even amid this advancement, certain demographics, such as senior citizens and individuals with impairments, face challenges when accessing the platform.  Whether it is the inaccessible user interface design or suboptimal security measures. This thesis proposes a novel approach to solving these problems by advocating for an inclusive, secure, and accessible online banking platform. 

                Motivated by a commitment to social equity, this project aims to redesign online banking platforms to be more accessible to a diverse user base. This paper will introduce an omnichannel approach that focuses on user-centric designs, customer satisfaction, and secure banking experiences, to bridge the digital divide and deliver financial autonomy to every user.
                Some project objectives include designing user-centric user interfaces, implementing accessibility features, creating a transformer-based AI chatbot, and enhancing security measures by employing digital signatures as an authentication method. 
                
                In conclusion, this thesis contributes to the ongoing discourse on digital inclusivity and security in online banking, by offering a comprehensive approach to address these challenges. Moreover, the project aspires to catalyse positive change in the banking sector and create a transformative impact on the digital banking landscape.
                </p>
        </section>
        
    </body>
    <footer>
        <img src="/assets/Group 1.png" alt="logo">
        <p class="copy-right">© Aequitas Europe SA 2024</p>
        <p>Aequitas Europe SA is a company incorporated in Greece with registered number 33590135913. Our registered office is at South Street 100, 3rd floor, 1050 Thessaloniki, Greece. Wise is a payment institution authorized by the National Bank of Greece.</p>
        <p>All investment services are provided by the respective Aequitas Assets entity in your location.</p>
    </footer>
    </main>