<main>
    <header><img src="/assets/Group 1.png" alt="logo"></header>
    <body>
        <section class="web-font-content">
            <h1>Fonts used and why it’s important  </h1>
            <p>Font pairing in design refers to the art of combining different fonts to capture attention, guide the viewer's gaze, or establish a brand's visual identity. 

            A successful font pairing involves finding a balance between similarity and contrast. Fonts that are too similar create visual conflict, while those with no apparent relationship may evoke a sense of discord. Good font combinations often share certain similarities but differ in specific ways, such as weight, obliqueness, or other typographic measures. 
            
            To simplify the process and aid in font selection, a graphical map can be created, where the Y axis represents font weight, and the X axis represents obliqueness. This map can guide the selection process by showcasing fonts with contrasting features, aiding in the creation of aesthetically pleasing pairings.</p>
        </section>
        <section class="web-acc-image">
            <div class="sup-image">
                <img src="/assets/web_font_1.png" alt="supporting image">
            </div>
            <div class="sup-image">
                <img src="/assets/web_font_2.png" alt="supporting image">
            </div>
        </section>
        <section class="web-font-content">
            <p>Expanding on this concept, additional dimensions such as a Z-axis for serifs vs. sans-serifs can be added, leading to the creation of a multi-dimensional map. By systematically analyzing fonts based on their various features, it becomes possible to identify those that share similarities while contrasting in key aspects. 

                For instance, fonts with similar obliqueness and serifs but differing weights can form unique and harmonious pairings. Furthermore, the use of deep neural networks and machine learning techniques can automate the feature extraction process, enabling the discovery of font relationships and guiding the font pairing process more efficiently. 
                
                This approach eliminates the need to manually specify features, as the deep learning model autonomously discovers and utilizes these features, providing a comprehensive and sophisticated map for font pairing. 
                
                Additional details on the implementation of deep learning in this domain can be found on the project's Github page.</p>
        </section>
        <section>
            <h2>What pairing is used throughout this project?</h2>
            <div class="font_image">
                <img src="/assets/web_font_3.png" alt="supportning image">
            </div>
            <div class="font_exp">
                <p>Merriweather is used for headings and other important tags. 

                    Josefin Sans is used for secondary headings and paragraphs. 
                    
                    Prompt is used in footers and other trivial tags.</p>
            </div>
        </section>
        
    </body>
    <footer>
        <img src="/assets/Group 1.png" alt="logo">
        <p class="copy-right">© Aequitas Europe SA 2024</p>
        <p>Aequitas Europe SA is a company incorporated in Greece with registered number 33590135913. Our registered office is at South Street 100, 3rd floor, 1050 Thessaloniki, Greece. Wise is a payment institution authorized by the National Bank of Greece.</p>
        <p>All investment services are provided by the respective Aequitas Assets entity in your location.</p>
    </footer>
    </main>