<main>
    <header><img src="/assets/Group 1.png" alt="logo"></header>
    <body>
        <h1>Colors Colors Colors</h1>
        <section class="web-color-content_1">
            <h1>A. Colors Picked and why</h1>
            <p>Green is considered a good color due to its association with positive meanings such as nature, life, and well-being, as well as its proven ability to generate therapeutic and positive effects, fostering recovery and enhancing subjective well-being.</p>
            <img src="/assets/web_color_1.png" alt="supporting image">
            <p>palett.es provides several indicators that will help you choose a color palette that is accessible to the greatest number of users following the WAGC2.0 guidelines in the contrast and color section.</p>
        </section> 
        <section class="web-color-content_2">
            <h1>B.Contrast matrix</h1>
            <div class="color_container">
                <img src="/assets/web_color_2" alt="">
                <p>One of the main tools of palett.es is the contrast matrix . It visually shows us the levels of contrast between the colors that make up the palette.

                    The lowest contrast level is 1:1 and the highest possible level is 21:1 . The higher the contrast, the less problems viewing content/texts users will have.
                    
                    Color blind safe? If we read "YES" in this position, it indicates that this color combination is safe for the main types of color blindness.
                    
                    AAA/AA tells us whether this text/background color combination has enough contrast to meet the AAA or AA accessibility level at those sizes.
                    
                    Lastly the contrast index in numerical format.</p>
            </div>
            </section>
            <section class="web-color-content_3">
                <h1>C. C. Simulation of types of color blindness.</h1>
                <p>This quadrant provides a simulation of how users with different types of color blindness see the current palette and what the contrast levels are for the different combinations.</p>
                <img src="/assets/web_color_3.png" alt="supporting image">
                </section> 
        
    </body>
    <footer>
        <img src="/assets/Group 1.png" alt="logo">
        <p class="copy-right">© Aequitas Europe SA 2024</p>
        <p>Aequitas Europe SA is a company incorporated in Greece with registered number 33590135913. Our registered office is at South Street 100, 3rd floor, 1050 Thessaloniki, Greece. Wise is a payment institution authorized by the National Bank of Greece.</p>
        <p>All investment services are provided by the respective Aequitas Assets entity in your location.</p>
    </footer>
    </main>