<div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem routerLink="/account" routerLinkActive="active">
      <img src="/assets/menu_account.png" alt="Account Logo">
      Account
    </button>
    <button class="example-menu-item" cdkMenuItem routerLink="/history" routerLinkActive="active">
      <img src="/assets/menu_history.png" alt="History Logo">
      Transfer History
    </button>
    <button class="example-menu-item" cdkMenuItem routerLink="/transfer" routerLinkActive="active">
      <img src="/assets/menu_transfer.png" alt="Transfer Logo">
      Money Transfer
    </button>
    <button class="example-menu-item" cdkMenuItem routerLink="/bill-payment" routerLinkActive="active">
      <img src="/assets/menu_bill.png" alt="Bill Payment Logo">
      Bill Payment
    </button>
    <button class="example-menu-item" cdkMenuItem routerLink="/aeai-v2" routerLinkActive="active">
      <img src="/assets/menu_aeai.png" alt="AEAI Logo">
      AEAI
    </button>
  </div>
  