<main>
    <static-header></static-header>
    <h1>AEAI</h1>
    <div class="aeai">
        <p>For my thesis, I crafted a chatbot named AEAI using Dialogflow. AEAI taps into Dialogflow's knack for understanding natural language, making interactions feel more human-like. It works by analyzing what users say or type, figuring out what they mean, and then responding appropriately. I trained AEAI to handle specific tasks by creating and teaching it various intents. Plus, with Dialogflow's flexibility, AEAI can be deployed across different platforms like messaging apps and voice assistants. Overall, Dialogflow streamlined the process of building AEAI, making it easier to create a sophisticated conversational experience.</p>
    <iframe
    allow="microphone;"
    src="https://console.dialogflow.com/api-client/demo/embedded/f6620496-6d54-4e83-bf0b-855345675e33">
</iframe>
</div>
    

    <static-footer-v2></static-footer-v2>
    </main>