<main>
   <static-header-v2></static-header-v2>
   <section>
      <h1>Welcome back.</h1>
      <label for="signature-input" class="sr-only">Enter your digital signature key</label>
      <input id="signature-input" class="input" placeholder="Enter your digital signature key" type="text" aria-label="Digital signature key">
      <button routerLink="/account" class="button-dark">Log in</button>
      <h2>Click <a routerLink="/simple-auth">here</a> for the alternative login form.</h2>
   </section>
   <static-footer-v2></static-footer-v2>
</main>
