<main>
    <dynamic-header></dynamic-header>
    <hr>
    <section class="account">
        <section class="menu"> <ul class="menu">
            <li class="menu-item">
                <a href="home.html" class="menu-link">
                    <span class="menu-item-icon"><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="search.html" class="menu-link">
                    <span class="menu-item-icon"><i class="fas fa-search"></i></span>
                    <span>Search</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="profile.html" class="menu-link">
                    <span class="menu-item-icon"><i class="fas fa-user"></i></span>
                    <span>Profile</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="messages.html" class="menu-link">
                    <span class="menu-item-icon"><i class="fas fa-envelope"></i></span>
                    <span>Messages</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="settings.html" class="menu-link">
                    <span class="menu-item-icon"><i class="fas fa-cog"></i></span>
                    <span>Settings</span>
                </a>
            </li>
        </ul></section>
        <section class="content"></section>
    </section>
    <static-footer-v2></static-footer-v2>
</main>