<main>
    <dynamic-header></dynamic-header>
    <hr class="main-hr">
    <section class="account">
       <account-menu></account-menu>
        <section class="content">
            <div class="balance">
                <h2>Current Balance</h2>
                <p>420.69$</p>
            </div>
            <hr>
            <div class="recent_transactions">
                <h2>Recent Transactions</h2>
                <ul class="entry-list">
                    <li class="entry">
                        <div class="entry-details">
                            <div class="entry-name">John Doe</div>
                            <div class="entry-date">April 15, 2024</div>
                            <div class="entry-money">$500</div>
                        </div>
                    </li>
                    <li class="entry">
                        <div class="entry-details">
                            <div class="entry-name">Jane Smith</div>
                            <div class="entry-date">April 16, 2024</div>
                            <div class="entry-money">$700</div>
                        </div>
                    </li>
                    <li class="entry">
                        <div class="entry-details">
                            <div class="entry-name">Bob Johnson</div>
                            <div class="entry-date">April 17, 2024</div>
                            <div class="entry-money">$300</div>
                        </div>
                    </li>
                </ul>

            </div>

        </section>
    </section>
    <static-footer-v2></static-footer-v2>
</main>