<main>
    <dynamic-header></dynamic-header>
    <hr class="main-hr">
    <section class="account">
        <section class="menu">
            <ul>
                <li>
                    <a routerLink="/account" routerLinkActive="active"> <img src="/assets/menu_account.png"
                            alt=" logo">Account</a>
                </li>
                <li>
                    <a routerLink="/history" routerLinkActive="active"> <img src="/assets/menu_history.png"
                            alt=" logo">Transfer History</a>
                </li>
                <li>
                    <a routerLink="/transfer" routerLinkActive="active"><img src="/assets/menu_transfer.png" alt=" logo"> Money
                        Transfer</a>
                </li>
                <li>
                    <a routerLink="/bill-payment" routerLinkActive="active"><img src="/assets/menu_bill.png" alt=" logo"> Bill
                        Payment</a>
                </li>
                <li>
                    <a routerLink="/" routerLinkActive="active"> <img src="/assets/menu_aeai.png" alt=" logo">AEAI</a>
                </li>
            </ul>
        </section>
        <section class="content">
            <div class="recent_transactions">
                <h2>Recent Transactions</h2>
                <div class="entry-list-container">
                    <ul class="entry-list">
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">John Doe</div>
                                <div class="entry-date">April 15, 2024</div>
                                <div class="entry-money">$500</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">Jane Smith</div>
                                <div class="entry-date">April 16, 2024</div>
                                <div class="entry-money">$700</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">Bob Johnson</div>
                                <div class="entry-date">April 17, 2024</div>
                                <div class="entry-money">$300</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">John Doe</div>
                                <div class="entry-date">April 15, 2024</div>
                                <div class="entry-money">$500</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">Jane Smith</div>
                                <div class="entry-date">April 16, 2024</div>
                                <div class="entry-money">$700</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">Bob Johnson</div>
                                <div class="entry-date">April 17, 2024</div>
                                <div class="entry-money">$300</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">John Doe</div>
                                <div class="entry-date">April 15, 2024</div>
                                <div class="entry-money">$500</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">Jane Smith</div>
                                <div class="entry-date">April 16, 2024</div>
                                <div class="entry-money">$700</div>
                            </div>
                        </li>
                        <li class="entry">
                            <div class="entry-details">
                                <div class="entry-name">Bob Johnson</div>
                                <div class="entry-date">April 17, 2024</div>
                                <div class="entry-money">$300</div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="paginator">
                <div class="arrow left">
                  <img src="/assets/left_icon.png" alt="">
                </div>
                <div class="month">
                  <span>April, 2024</span>
                </div>
                <div class="arrow right">
                    <img src="/assets/right_icon.png" alt="">
                </div>
              </div>
              
        </section>
        
    </section>
    <static-footer-v2></static-footer-v2>
</main>