.main-hr {
  height: 40vw;
  width: 0.1vw;
  border: none;
  background-color: black;
  position: fixed;
  top: 5vw;
  left: 30vw;
}

.account {
  display: flex;
  flex-direction: row;
}

.content {
  width: 60vw;
  height: 40vw;
}

.button-light {
  border: none;
  width: 50vw;
  height: 3vw;
  border-radius: 80px;
  padding: 0 18px;
  background-color: #88DABF;
  color: #2E5253;
  font-weight: 700;
  margin-top: 1vw;
  margin-left: 5vw;
  font-size: 1vw;
}

.input-full-width {
  width: 100%;
  margin-bottom: 2vw;
}

h2 {
  font-size: 2vw;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  line-height: 2vw;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
df-messenger {
  --df-messenger-bot-message: #148561;
  --df-messenger-button-titlebar-color: #2E5253;
  --df-messenger-chat-background-color: #fafafa;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #878fac;
  --df-messenger-user-message: #29847A;
 }
