<main>
  <dynamic-header></dynamic-header>
  <hr class="main-hr">
  <section class="account">
    <account-menu></account-menu>
    <section class="content">
      <h2>Bill Payment</h2>
      <form class="money-transfer-form" id="login-form" #f="ngForm" (ngSubmit)="transfer(f)" aria-labelledby="transferFormHeading">

        <h2 id="transferFormHeading" class="visually-hidden">Bill Payment Form</h2>
        <h2>Institute ID</h2>
        <mat-form-field class="input-full-width">
          <mat-label>Institute ID</mat-label>
          <input type="text" matInput [formControl]="nameFormControl" placeholder="Ex. BR132345" aria-describedby="accountIdHelp" required>
          <mat-error *ngIf="nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)">Insitute Id is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field class="input-full-width">
          <mat-label>Payment Amount</mat-label>
          <input type="number" matInput [formControl]="amountFormControl" placeholder="Ex. 34" aria-describedby="amountHelp" required>
          <mat-error *ngIf="amountFormControl.invalid && (amountFormControl.dirty || amountFormControl.touched)">The payment amount is <strong>required</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field class="input-full-width">
          <mat-label>Description</mat-label>
          <input type="text" matInput [formControl]="descriptionFormControl" placeholder="Ex. Rent Payment" aria-describedby="descriptionHelp" required>
          <mat-error *ngIf="descriptionFormControl.invalid && (descriptionFormControl.dirty || descriptionFormControl.touched)">Enter a description for the transaction</mat-error>
        </mat-form-field>
        
        <button class="button-light" mat-button type="submit" [disabled]="!f.valid">Complete Transfer</button>
      </form>
    </section>
  </section>
  
  <df-messenger
  class="test"
  intent="WELCOME"
  chat-title="AEAI"
  chat-icon="https:&#x2F;&#x2F;cdn-icons-png.freepik.com&#x2F;256&#x2F;13481&#x2F;13481626.png?semt=ais_hybrid"
  agent-id="f6620496-6d54-4e83-bf0b-855345675e33"
  language-code="en"
></df-messenger>
  <static-footer-v2></static-footer-v2>
</main>
