<main>
  <dynamic-header></dynamic-header>
  <hr class="main-hr">
  <section class="account">
    <account-menu></account-menu>
    <section class="content">
      <h2>Bill Payment</h2>
      <form class="money-transfer-form" aria-labelledby="transferFormHeading">
        <h2 id="transferFormHeading" class="visually-hidden">Money Transfer Form</h2>
        <h2>Insitute ID</h2>
        <mat-form-field class="input-full-width">
          <mat-label>Insitute ID</mat-label>
          <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. BR132345" aria-describedby="accountIdHelp accountIdError">
          <span id="accountIdHelp" class="visually-hidden">Enter the instityte ID, example: BR132345.</span>
          @if (nameFormControl.hasError('required')) {
          <mat-error id="accountIdError">Institute Id is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <h2>Payment Amount</h2>
        <mat-form-field class="input-full-width">
          <mat-label>Payment Ammount</mat-label>
          <input type="number" matInput [formControl]="amountFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. 34" aria-describedby="amountHelp amountError">
          <span id="amountHelp" class="visually-hidden">Please enter the payment amount, example: 34.</span>
          @if (amountFormControl.hasError('required')) {
          <mat-error id="amountError">The payment amount is <strong>required</strong></mat-error>
          }</mat-form-field>
          <h2>Description</h2>
        <mat-form-field class="input-full-width">
          <mat-label>Description</mat-label>
          <input type="text" matInput placeholder="Ex. Rent Payment" aria-describedby="descriptionHelp">
          <span id="descriptionHelp" class="visually-hidden">Enter a description for the transaction, example: Water Bill
            Payment.</span>
        </mat-form-field>
        <button class="button-light" type="submit">Complete Payment</button>
      </form>
    </section>
  </section>
  <static-footer-v2></static-footer-v2>
</main>